
<%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

<div class="field form-group">
    <%= form.label :name %><br />
    <%= form.text_field :name,class:"form-control",placeholder:"名前を入力してください", autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class = "field">
    <%= form.label :性別 %><br>
    <%= form.select :gender, [["男","男"],["女","女"],["秘密","秘密"]] %>
  </div><br>

  <div class="field form-group">
    <%= form.label :self_lntroduction %><br />
    <%= form.text_field :self_lntroduction,class:"form-control",placeholder:"自己紹介を入力してください", autofocus: true, autocomplete: "self_lntroduction" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>