<h1>ユーザー詳細画面</h1>
<p>名前: <%= @user.name %></p>

<p id="notice"><%= notice %></p>
<p>
    <strong>ユーザーアイコン</strong>
    <%= image_tag @user.image.url %>
</p>

<p>自己紹介: <%= @user.self_lntroduction %></p>

<p>性別: <%= @user.gender %></p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

