<%= form_with(model: @topick, local: true,url: choose_new_or_edit) do |form| %>
    <% if @topick.errors.any? %>
    <%# <%= binding.pry %> %>
        <div id="error_explanation">
            <h2><%= @topick.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @topick.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

<%# <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div> %>

    <div class="topick_title form-group">
        <%= form.label :content %>
        <%= form.text_field :content,class:"form-control",placeholder:"文字を入力してください" %>
    </div>
    <%# <%= form.submit %>
    <input class="btn btn-default" type="submit" value="登録する">
<% end %>
</form>
<%= link_to "掲示板一覧画面にもどる", topicks_path %>
