<%= form_with(model: @topick, local: true,url: choose_new_or_edit) do |form| %>
    <% if @topick.errors.any? %>
        <div id="error_explanation">
            <h2><%= @topick.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @topick.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
    <% end %>
    
    <div class="topick_title">
        <%= form.label :content %>
        <%= form.text_field :content %>
    </div>
    <%= form.submit %>
<% end %>
<%= link_to "掲示板一覧画面にもどる", topicks_path %>
<%# 下記はコメントの入力フォーム %>
<!-- この記述がtopickのshow画面に表示されるコメント入力欄になります -->
<%= form_with(model: [topick, comment]) do |form| %>
    <% if comment.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
            <ul>
            <% comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
        <% end %>
        </ul>
    </div>
<% end %>

<div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
</div>
<div class="actions">
    <%= form.submit %>
</div>
<% end %>