<%= form_with(model: @topick, local: true,url: choose_new_or_edit) do |form| %>
    <% if @topick.errors.any? %>
    <%# <%= binding.pry %> %>
        <div id="error_explanation">
            <h2><%= @topick.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @topick.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

    <div class="topick_title form-group">
        <%= form.label :content %>
        <%= form.text_area :content,class:"form-control",rows:"20",placeholder:"文字を入力してください" %>
    </div>
    <%# 検証ツールで作られたものを
    サンプルをつけながら、理解する
    erbのruby独特のやつで自分がどうやって理解するか。そのまま再現できるか。
    flexboxを調べる。 %>
    <%# <%= form.submit %>

    <%# サンプルよくわからん。 %>
    <input class="btn btn-default" type="submit" value="登録する">
<% end %>
</form>
<%= link_to "掲示板一覧画面にもどる", topicks_path %>
